.footer
  .into-footer-block
    p.footer-dreamshare-text DREAMSHARE
    p.footer-company-text Company
    p.footer-partners-text Partners
    img.areto-footer(src='./images/areto-footer.jpg', alt='#')
