//- .header-m
//-   // фото фону шапки
//-   // <img class="baground-image-header" src="./images/header-background-image.jpg" alt="">
//-   // меню шапки
//-   .login-singup-m
//-     p.login-text-m Log in
//-     p.singup-text-m Sing up
//-   .share-block-m
//-     p.dreamshare-text-m
//-       | DREAMSHARE
//-     p.share-text-m
//-       | SHARE YOUR HOLIDAY DREAM
//-     p.find-text-m
//-       | And find the perfect partner to fullfill it
//-     .find-button-m
//-       | Find your holiday partner

.header
  // фото фону шапки
  // <img class="baground-image-header" src="./images/header-background-image.jpg" alt="">
  // меню шапки
  .header-menu
    p.dreamshare-text DREAMSHARE
    .login-singup
      p.login-text Log in
      p.singup-text Sing up
  .share-block
    p.share-text
      | SHARE YOUR HOLIDAY DREAM
    p.find-text
      | And find the perfect partner to fullfill it
    .find-button
      | Find your holiday partner
